#!/usr/bin/env python
PACKAGE = "interface"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()


gen.add("x", double_t, 0, "position (m)",    0 , -1, 1)
gen.add("y", double_t, 0, "position (m)",    0 , -1, 1)
gen.add("z", double_t, 0, "position (m)",    0 , -1, 1)
gen.add("phi", double_t, 0, "Angel (degrees)", -60 , -360, 360)
gen.add("theta", double_t, 0, "Angel (degrees)",    -60 , -360, 360)
gen.add("epsi", double_t, 0, "Angel (degrees)",    -60 , -360, 360)

gen.add("Activate",   bool_t,   0, "A Boolean parameter",  True)
gen.add("Execute",   bool_t,   0, "A Boolean parameter",  False)

exit(gen.generate(PACKAGE, "interface", "cartesian_controller"))